body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1304px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1281px;
  height:1084px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(235, 235, 235, 1);
  border-radius:4px;
  -moz-box-shadow:0px 1px 4px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:0px 1px 4px rgba(0, 0, 0, 0.2);
  box-shadow:0px 1px 4px rgba(0, 0, 0, 0.2);
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:18px;
}
#u0 {
  position:absolute;
  left:23px;
  top:32px;
  width:1281px;
  height:1084px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:18px;
}
#u1 {
  position:absolute;
  left:16px;
  top:534px;
  width:1249px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:42px;
  top:86px;
  width:801px;
  height:191px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:30px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:30px;
}
#u4 {
  position:absolute;
  left:2px;
  top:7px;
  width:155px;
  word-wrap:break-word;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:30px;
}
#u5 {
  position:absolute;
  left:159px;
  top:0px;
  width:159px;
  height:30px;
}
#u6 {
  position:absolute;
  left:2px;
  top:7px;
  width:155px;
  word-wrap:break-word;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:30px;
}
#u7 {
  position:absolute;
  left:318px;
  top:0px;
  width:209px;
  height:30px;
}
#u8 {
  position:absolute;
  left:2px;
  top:7px;
  width:205px;
  word-wrap:break-word;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:30px;
}
#u9 {
  position:absolute;
  left:527px;
  top:0px;
  width:109px;
  height:30px;
}
#u10 {
  position:absolute;
  left:2px;
  top:7px;
  width:105px;
  word-wrap:break-word;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:30px;
}
#u11 {
  position:absolute;
  left:636px;
  top:0px;
  width:160px;
  height:30px;
}
#u12 {
  position:absolute;
  left:2px;
  top:7px;
  width:156px;
  word-wrap:break-word;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:52px;
}
#u13 {
  position:absolute;
  left:0px;
  top:30px;
  width:159px;
  height:52px;
}
#u14 {
  position:absolute;
  left:2px;
  top:18px;
  width:155px;
  word-wrap:break-word;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:52px;
}
#u15 {
  position:absolute;
  left:159px;
  top:30px;
  width:159px;
  height:52px;
}
#u16 {
  position:absolute;
  left:2px;
  top:18px;
  width:155px;
  word-wrap:break-word;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:52px;
}
#u17 {
  position:absolute;
  left:318px;
  top:30px;
  width:209px;
  height:52px;
}
#u18 {
  position:absolute;
  left:2px;
  top:10px;
  width:205px;
  word-wrap:break-word;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:52px;
}
#u19 {
  position:absolute;
  left:527px;
  top:30px;
  width:109px;
  height:52px;
}
#u20 {
  position:absolute;
  left:2px;
  top:18px;
  width:105px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:52px;
}
#u21 {
  position:absolute;
  left:636px;
  top:30px;
  width:160px;
  height:52px;
}
#u22 {
  position:absolute;
  left:2px;
  top:18px;
  width:156px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:52px;
}
#u23 {
  position:absolute;
  left:0px;
  top:82px;
  width:159px;
  height:52px;
}
#u24 {
  position:absolute;
  left:2px;
  top:18px;
  width:155px;
  word-wrap:break-word;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:52px;
}
#u25 {
  position:absolute;
  left:159px;
  top:82px;
  width:159px;
  height:52px;
}
#u26 {
  position:absolute;
  left:2px;
  top:18px;
  width:155px;
  word-wrap:break-word;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:52px;
}
#u27 {
  position:absolute;
  left:318px;
  top:82px;
  width:209px;
  height:52px;
}
#u28 {
  position:absolute;
  left:2px;
  top:18px;
  width:205px;
  word-wrap:break-word;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:52px;
}
#u29 {
  position:absolute;
  left:527px;
  top:82px;
  width:109px;
  height:52px;
}
#u30 {
  position:absolute;
  left:2px;
  top:18px;
  width:105px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:52px;
}
#u31 {
  position:absolute;
  left:636px;
  top:82px;
  width:160px;
  height:52px;
}
#u32 {
  position:absolute;
  left:2px;
  top:18px;
  width:156px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:52px;
}
#u33 {
  position:absolute;
  left:0px;
  top:134px;
  width:159px;
  height:52px;
}
#u34 {
  position:absolute;
  left:2px;
  top:18px;
  width:155px;
  word-wrap:break-word;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:52px;
}
#u35 {
  position:absolute;
  left:159px;
  top:134px;
  width:159px;
  height:52px;
}
#u36 {
  position:absolute;
  left:2px;
  top:18px;
  width:155px;
  word-wrap:break-word;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:52px;
}
#u37 {
  position:absolute;
  left:318px;
  top:134px;
  width:209px;
  height:52px;
}
#u38 {
  position:absolute;
  left:2px;
  top:10px;
  width:205px;
  word-wrap:break-word;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:52px;
}
#u39 {
  position:absolute;
  left:527px;
  top:134px;
  width:109px;
  height:52px;
}
#u40 {
  position:absolute;
  left:2px;
  top:18px;
  width:105px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:52px;
}
#u41 {
  position:absolute;
  left:636px;
  top:134px;
  width:160px;
  height:52px;
}
#u42 {
  position:absolute;
  left:2px;
  top:18px;
  width:156px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43_div {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u43 {
  position:absolute;
  left:42px;
  top:53px;
  width:239px;
  height:16px;
}
#u44 {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  white-space:nowrap;
}
#u45_div {
  position:absolute;
  left:0px;
  top:0px;
  width:796px;
  height:608px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u45 {
  position:absolute;
  left:42px;
  top:286px;
  width:796px;
  height:608px;
}
#u46 {
  position:absolute;
  left:0px;
  top:0px;
  width:796px;
  word-wrap:break-word;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:409px;
  height:616px;
}
#u47 {
  position:absolute;
  left:885px;
  top:41px;
  width:409px;
  height:616px;
}
#u48 {
  position:absolute;
  left:2px;
  top:300px;
  width:405px;
  visibility:hidden;
  word-wrap:break-word;
}
